.header{
	height: 65px;
   display: flex;
	align-items: center;
   background: #bba377;
}



.header > .Above {
	font-size: 22px;
	font-weight: bold;
}

.header> .tabs {
	list-style: none;
   margin-left: auto;
	display: flex;
}

.header > .tabs > .tab:not(:last-child) {
	margin-right: 20px;
}

.header> .tabs > .tab {
	width: 90px;
	height: 36px;
   display: flex;
	justify-content: center;
	align-items: center;
   background-color: hsl(0, 0%, 0%);
}

.top-section h1{
   color:hsl(12, 79%, 46%);
   font-style:oblique;
   font-weight: bold;
}
.mid1 h2{
   background-color: hsl(27, 92%, 50%,0.1);
   color:hsl(0,100%,0,1);
   
  
}

.mid2 img{
    width: 80%;
    height:300px ;
}

